* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: #7b7b7b;
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.btn {
	background: linear-gradient(0deg, #FF4D00 0%, #FEB05D 100%);
	width: 315px;
	height: 72px;
	display: block;
	margin: 0 auto;
	color: #fff;
	border: 0;
	border-radius: 4px;
	font-size: 21px;
	text-transform: uppercase;
	margin-top: 75px;
	cursor: pointer;
}

.arrow_text {
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-top: 75px;
	margin-bottom: 10px;
}

.arrow {
	display: block;
	/* Убираем "inline" поведение изображения */
	margin: 0 auto;
	/* Центрируем по горизонтали */
	margin-bottom: 13px;
	cursor: pointer;
}

.logo__img {
	display: block;
	/* Убираем "inline" поведение изображения */
	margin: 0 auto;
	/* Центрируем по горизонтали */
	margin-bottom: 13px;
}

.logo__text {
	font-size: 16px;
	font-weight: 500;
	line-height: 18.75px;
	text-align: center;
	color: #fff;
	margin-bottom: 52px;
}

.title {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 12px;

}

.title__colored {
	color: #F9BF3B;
	font-size: 41px;
	font-weight: 900;
	line-height: 41px;
	text-align: center;
	margin-bottom: 20px;

}

.title__big {
	font-size: 80px;
	font-weight: 900;
	line-height: 80px;
	text-align: center;
	color: #fff;
}

.divider {
	width: 220px;
	height: 7px;
	background: #F9BF3B;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 12px;


}

.promo {
	padding-top: 22px;
	padding-bottom: 51px;
	background: url(image/MainBg.jpg) center center / cover no-repeat;
}

.promp__text {
	font-size: 21px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}

span {
	color: #F9BF3B;
}

.intensive {
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}

.intensive__title {
	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	color: black;
}

.intensive__subtitle {
	font-size: 23px;
	font-weight: 500;
	text-align: center;
	color: #4A4A4A;
	margin-bottom: 42px;
}

.intensive__wrapper {
	display: flex;
	justify-content: space-between;
}

.intensive__item {
	width: 360px;


}

.intensive__text {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: #4A4A4A;

}

.intensive__img {
	width: 100%;
	margin-bottom: 15px;

}

.info {
	background-color: black;
	padding-top: 100px;
	padding-bottom: 139px;
}

.info__title {
	color: #F9BF3B;
	text-align: right;


}

.info__img {
	position: absolute;
	z-index: 1;
}


.info__text {
	color: #fff;
	text-align: right;
	padding-left: 390px;
	padding-bottom: 16px;
	position: relative;
	z-index: 2;
}

.skills__title{
color: #fff;
font-size: 30px;
font-weight: 400;
}



.text2 {
	text-align: center;
}

.skills {
	text-align: center;
	background: url(image/skillsBg.jpg) center center / cover no-repeat;
	font-size: 16px;
	font-weight: 300;
	line-height: 18.75px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.present_text {
	text-align: center;
	padding-top: 100px;
	font-size: 30px;
	font-weight: 500;
	line-height: 45px;

}

.surprise {
	padding-top: 80px;
}

.layer12 img {
	width: 342px;
	height: 201px;
	top: 220px;
	left: 400px;
}

.layer12 p {
	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
	text-align: center;
}

.layer10 img {
	width: 342px;
	height: 201px;
	top: 220px;
	left: 790px;
}

.layer10 p {
	font-size: 16px;
	font-weight: 300;
	line-height: 21px;
	text-align: center;
}

.layer7 img {
	width: 342px;
	height: 201px;
	top: 220px;
	left: 1180px;
}

.layer7 p {
	font-size: 16px;
	font-weight: 300;
	line-height: 18.75px;
	text-align: center;
}
.skills__wrapper {
	display: flex;
}
.skills__text {
	size: 16px;
	color: #EFEFEF;
}
 .skills__item {
	margin-right: 20px;
	min-width: 224px;
    
 }
.skills__round {
	width: 118px;
	height: 118px;
	background-color: #F9BF3B;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 18px;
}
.surprise {
	background-color: #EFEFEF;
	padding-bottom: 80px;
}
.surprise__img {
	display: block;
	/* Убираем "inline" поведение изображения */
	margin: 0 auto;
	/* Центрируем по горизонтали */
	width: 300px;
	text-align: center;
}
.webinar__text {
font-size: 23px;
font-weight: 500;
text-align: center;
color: #fff;
}
.webinar__title {
font-size: 36px;
font-weight: 900;
 color: #F9BF3B;
 margin-top: 20px;
 margin-bottom: 20px;
}
.webinar__subtitle {
font-size: 30px;
font-weight: 500;
 color: #EFEFEF;
}
.webinar__img {
	margin: 0 auto;
	width: 500px;
height: 250px;
 margin-bottom: 40px;
}
.webinar__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.webinar {
	background-color: #0F0B0B;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer {
background-color: #1A1A1A;
text-align: center;
padding-bottom: 58px;
padding-top: 58px;
}
.footer__links {
 text-align: center;
	color: #7b7b7b;
}

.footer__tel{
	color: #7b7b7b;
	transition: 0.3s;
}


.footer__tel:hover {
	color: deepskyblue;
	transition: 0.3s;
}